@font-face {
	font-family: "Poppins";
	src: url("../Poppins/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
}
* {
	font-family: "Poppins";
}

.aside--close {
	position: absolute;
	left: -25rem;
}

.aside--open {
	position: relative;
	left: 0;
}
